.timer {
    font-size: 30px;
}
.red {
    display: block;
    max-width: 300px;
    font-size: 24px;
    color: #fff;
    padding: 15px;
    background: red;
}
.green {
    display: block;
    max-width: 300px;
    font-size: 24px;
    color: #fff;
    padding: 15px;
    background: green;
}